<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="container">
        <h1 class="hit-the-floor text">Err</h1>
            <img src="/assets/img/tuerca.png" alt="tuerca" id="tuerca">
        <h1 class="hit-the-floor text">r</h1>
    </div>

    <h1 class="hit-the-floor number" id="first">4</h1>
    <h1 class="hit-the-floor number" id="second">4</h1>
    <a href="../index.html">
    <img class="logo" src="/assets/img/LogoYnombre.png" alt="Volver a la Página inicial">
    </a>
    <div class="texto">
        <p>Parece que no se encuentra el sitio web que buscas...</p>
        <h2>¿Qué tal si vuelves al nuestro?</h2>

    </div>
</body>

</html>