<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos y Servicios</title>
    <link rel="stylesheet" href="../styles/cards.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <a href="/index.html">
        <img
          src="../assets/img/logoFerreteria.png"
          alt="logoFerreteria"
          class="logo"
        />
      </a>
        <div class="navigation">
          <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
  
          <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
          </label>
  
          <div class="navigation__background">&nbsp;</div>
  
          <nav class="navigation__nav">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a href="../index.html" class="navigation__link"><span>01</span>Inicio</a>
              </li>
              <li class="navigation__item">
                <a href="./productos.html" class="navigation__link"
                  ><span>02</span>Productos y Servicios</a
                >
              </li>
              <li class="navigation__item">
                <a href="./quienesSomos.html" class="navigation__link"
                  ><span>03</span>Quienes Somos</a
                >
              </li>
              <li class="navigation__item">
                <a href="./contacto.html" class="navigation__link"><span>04</span>Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
  
      <main>
        <section class="main-contact-section">
          <a
            href="https://www.google.com/maps/place/C.+Anselmo+Solar,+52,+33204+Gij%C3%B3n,+Asturias/@43.5306354,-5.644582,17z/data=!3m1!4b1!4m6!3m5!1s0xd367b7d96127bd5:0xc16f7aa563e5d3c6!8m2!3d43.5306354!4d-5.644582!16s%2Fg%2F11c28d_s0v?entry=ttu"
            target="_blank"
            >Calle Anselmo Solar 52</a
          >
          <a href="mailto:correo@gmail.com">Envianos un Email</a>
          <a href="">984 70 09 04</a>
        </section>
  
        <section class="section-tours-title">
          <h3>FERRETERIA CON 50 AÑOS DE HISTORIA</h3>
          <h1>Nuestros Productos</h1>
          <p>
            <strong>Tenemos todo lo que necesitas</strong> ¿Lo dudas? Ven a
            visitarnos y encontraremos exactamente lo que estás buscando
          </p>
        </section>
        <section class="section-tours">
          <div class="row">
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img src="../assets/img/key-chain.png" alt="Imagen Llaves" />
                    <h3>Cerrajeria</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <h3 class="card__price-only">Llaves y cerraduras</h3>
                      <p class="card__price-value">
                        Copias de Llaves, bombines, cerraduras, pomos...
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img src="../assets/img/faucet.png" alt="Imagen grifo" />
                    <h3>Fontanería</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Grifería</p>
                      <p class="card__price-value">
                        Vendemos todo tipo de herramientas y accesorios de
                        fontanería.
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img
                      src="../assets/img/toolbox.png"
                      alt="Imagen carro de herramientas"
                    />
                    <h3>Herramientas</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Bricolaje</p>
                      <p class="card__price-value">
                        Tenemos a la venta herramientas manuales, eléctricas y de
                        batería
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img
                      src="../assets/img/paint.png"
                      alt="Imagen Bote de pinturas"
                    />
                    <h3>Pintura</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Materiales para pintar</p>
                      <p class="card__price-value">
                        Disponemos de pinturas profesionales con colores
                        personalizados, para exterior, interior o muebles
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img
                      src="../assets/img/kitchen.png"
                      alt="Imagen utensilios de cocina"
                    />
                    <h3>Hogar/decoración</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Menaje</p>
                      <p class="card__price-value">
                        Baterías de cocina, cubertería, percheros, alfombras...
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__details">
                    <img src="../assets/img/light-bulb.png" alt="Imagen bombilla" />
                    <h3>Iluminación</h3>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Electricidad</p>
                      <p class="card__price-value">
                        Bombillas, cables, enchufes, conectores...
                      </p>
                      <a href="#popup" class="btn btn--white">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="col1">
            <h2>FERRETERIA VEGAGRANDE</h2>
            <p>Ferretería en Gijón con más de 50 años de historia. Venta de material eléctrico, fontanería, herramientas, menaje del hogar,
              cerrajería, pintura… ¡Te esperamos!</p>
          </div>
          <div class="col2">
            <h2>Nuestra Web</h2>
            <a href="/index.html">Inicio</a>
            <a href="/templates/productos.html">Productos y Servicios</a>
            <a href="/templates/quienesSomos.html">Quienes Somos</a>
            <a href="templates/contacto.html">Contacto</a>
          </div>
          <div class="col col3">
            <h2>Contacto</h2>
            <p>
              Telefono: <br />
              984 19 48 15 <br />
              WhatsApp: <br />
              677 49 58 05 <br />
              Dirección: <br />
              C. Aguado, 36, 33202 Gijón, Asturias
            </p>
          </div>
        </footer>
        <section class="copy">
          <div>
            <p>
              Copyright &copy 2023 – Página web desarrollada por Los Pijas
              &nbsp; &nbsp; &nbsp; &nbsp;
              <a href="">Aviso Legal |</a> 
              <a href="">Política de privacidad |</a>
              <a href="">Cookies</a>
            </p>         
          </div>     
        </section>
</body>
</html>